.error{
    color: red;
    font-size: 35px;
}

p{
    font-size: 50px;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.align-justify{
    text-align: justify;
}

span{
    font-size: 25px;
    color: purple;
}
.list{
    list-style: none;
}